<p style="color: green"><%= notice %></p>

<% content_for :title, "Articles" %>


<h1 class="text-center mt-4">Articles</h1>
<div class="container d-flex justify-content-center" id="articles">
  <% @articles.each do |article| %>
    <div class="row">
      <div class="col-4">
        <div class="card m-lg-2 shadow bg-white rounded" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"> <%= link_to article.title, article_path(article), class: "link-article" %> </h5>
            <h6 class="card-subtitle mb-2 text-body-secondary fst-italic">
              by <%= article.user.username %>
            </h6>
            <p class="card-text"> <%= truncate(article.description, length: 70) %></p>
            <div class="text-center">
              <%= link_to "View", article_path(article), class: "btn btn-outline-success" %>
              <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-info" %>
              <%= link_to "Delete", article_path(article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
            </div>
          </div>
          <p class="card-footer"> <%= article.updated_at.strftime("%d %b %H:%M") %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "New article", new_article_path %>-
<%= link_to "Home Page", root_path %>
